@import "GlobalStyle.css";


/********** ELEMENTS **********/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  background: linear-gradient(135deg,rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
  height: max-content;
}

h1{
  color: var(--textColor);
  font-size: 40px;
  font-family: var(--font);
  text-align: center;
  margin: 10px 0;
}

p{
  color: var(--textColor);
  font-size: 18px;
  font-family: var(--font);
  text-align: center;
  margin: 10px 0;
}


/********** CLASES **********/

/* Main Screen */
.aplication-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* VECI logo */
.veci-logo-container{
  width: 100%;
  margin: 20px;
  margin-left: 40px;
  display: flex;
  align-items: left;
  justify-content: left;  
}

.veci-logo{
  width: 300px;
  height: 75px;
}

/* Main list of items container */
.items-list-main{
  width: 900px;
  min-height: 500px;
  background-color: var(--backgroundColor);
  padding: 30px;
  margin: 30px;
  border-radius: 26px;
  box-shadow: 0 5px 12px  rgba(0, 0, 0, 0.12);
}

/* Icon */
.item-icon{
  width: 25px;
  height: 25px;
  margin: 5px;
}
