/********** ELEMENTS **********/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  color: white;
  background: linear-gradient(135deg,rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
  font-family: Lato, sans-serif;
  height: max-content;
}

h1{
  color: rgb(51,51,51);
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 10px 0;
}

p{
  color: rgb(51,51,51);
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 10px 0;
}


/********** CLASES **********/

/* Main Screen */
.aplication-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Logo de VECI */
.veci-logo-container{
  width: 100%;
  margin: 20px;
  margin-left: 40px;
  display: flex;
  align-items: left;
  justify-content: left;  
}

.veci-logo{
  width: 300px;
  height: 75px;
}

/* Container de items */
.items-list-main{
  width: 900px;
  min-height: 500px;
  background-color: rgba(255, 255, 255, 1);
  padding: 30px;
  margin: 30px;
  border-radius: 26px;
  box-shadow: 0 5px 12px  rgba(0, 0, 0, 0.12);
}

/* Icono */
.item-icon{
  width: 25px;
  height: 25px;
  margin: 5px;
}
