@import "../GlobalStyle.css";

/********** CLASES **********/

/* List of Items */
.items-list-container{
  width: 800px;
  min-height: 85px;
  margin: 20px;
  padding: 10px;
  background-color: rgba(247, 247, 247, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-style :solid;
  border-color: rgba(204, 204, 204, 1);
  border-width: 1px;
  border-radius: 5px;
}

/* Button container */
.items-buttons-container{
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
}

/* Modified generic button */
.generic-button.reload{
  width: 75px;
}

/* Modified generic add button */
.generic-button.add.item{
  margin-left: 480px;
}