@import "../GlobalStyle.css";

/********** CLASES **********/

/* Non-selected item container */
.item-container {
  width: 780px;
  min-height: 40px;
  color: var(--textColor);
  background-color: rgba(247, 247, 247, 1);
  padding: 8px 15px 8px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  margin-bottom: 1px;
  cursor: pointer;
}

/* Selected item container */
.item-container.selected {
  color: var(--backgroundColor);
  background-color: var(--highlightColor);
}

/* Text of item */
.item-text {
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-family: var(--font);
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}
