@import "../GlobalStyle.css";


/********** CLASES **********/

.modal-background {
  width: 840px;
  height: 300px;
  background-color: rgba(200, 200, 200);
  /*opacity: 0.5;*/
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container */
.add-items-main{
  width: 700px;
  height: 270px;
  background-color:var(--backgroundColor);
  padding: 30px;
  margin: 30px;
  margin-left: 40px;
  border-radius: 26px;
  box-shadow: 0 5px 12px  rgba(0, 0, 0, 0.12);
}

/* Paragraf */
.modal-paragraf{
  color: var(--textColor);
  font-size: 18px;
  font-family: var(--font);
  text-align: left;
  margin: 10px 0 0 20px;
}

/* Form */
.item-form{
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 20px;
}

/* Input */
.item-input{
  display: flex;
  justify-content: center;
  width: 600px;
  height: 60px;
  padding-left: 15px;
  color: #999999;
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  font-size: 18px;
  font-family: var(--font);
}

.item-input:focus{
  outline: none;
}

/* Buttons container */
.add-items-buttons-container{
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 10px;
}


