@import "../GlobalStyle.css";

/********** CLASES **********/

/* Modal main container*/
.modal {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: top;
}

/* Main Container */
.add-items-main {
  width: 700px;
  height: 270px;
  background-color: var(--backgroundColor);
  padding: 30px;
  margin: 50px;
  border-radius: 26px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
}

/* Paragraf */
.modal-paragraf {
  color: var(--textColor);
  font-size: 18px;
  font-family: var(--font);
  text-align: left;
  margin: 10px 0 0 20px;
}

/* Form */
.item-form {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 20px;
}

/* Input */
.item-input {
  display: flex;
  justify-content: center;
  width: 600px;
  height: 60px;
  padding-left: 15px;
  color: #999999;
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  font-size: 18px;
  font-family: var(--font);
}

.item-input:focus {
  outline: none;
}

/* Buttons container */
.add-items-buttons-container {
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 10px;
}
